* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*
header
*/

.pre_login {
    background: white;
    height: 60px;
}

.pre_login1 {
    height: 60px;
}

.h_img {
    all: unset;
    width: 205px;
    margin-left: 88px;
    display: flex;
    float: left;
    object-fit: cover;
    height: 60px;
}

.naveg {
    display: flex;
    padding-top: 21px;
    flex-direction: row;
    padding-left: 80px;
}

.btns {
    all: unset;
    padding-right: 54px;
    cursor: pointer;
    color: #3ca028;
    font-weight: bold;
}

.bts {
    display: flex;
    float: right;
    margin: 10px 110px 10px 0px;
    flex-direction: row;
    gap: 30px;
}

.btnLogin {
    padding: 11px 42px 11px 42px;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 6px;
    height: 14px;
}

#frame1 {
    transition: 0.4s ease all;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

#frame {
    transition: 0.4s ease all;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.btnRegister {
    padding: 11px 42px 11px 42px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 6px;
    height: 14px;
}

/*
Header fim
*/

#frame0 {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.hero__img {
    position: absolute;
    top: 0;
    left: 0;
}

#Borda {
    margin-top: 165px;
    margin-left: 80px;
}

/*
Serviços
*/

.servicosList1 {
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList1 {
    color: white;
    text-align: center;
    padding-top: 38px;
    margin-top: 45px;
}

.servicosList2 {
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList2 {
    color: white;
    text-align: center;
    padding-top: 38px;
}

.servicosList3 {
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 255px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList3 {
    color: white;
    text-align: center;
    padding-top: 38px;
}

#img1 {
    display: flex;
    float: right;
    width: 360px;
    height: 450px;
    margin-top: 45px;
    margin-right: 365px;
}

/*
Serviços fim
*/


/*
testemunhas
*/


#containerDepo {
    display: block;
    background-color: #f5f5f5;
    padding: 120px 0px 120px 80px;
}

.espaçoleft {
    margin-bottom: 15px;
}

.depoimentosall {
    display: flex;
    flex-direction: row;
    gap: 300px
}

#depoleft {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}

.btnsaibamais1 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkdaniel {
    text-decoration: none;
    color: black;
}

.btnsaibamais2 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkjorge {
    text-decoration: none;
    color: black;
}

/* Depoimentos Direita */
.espaçoright {
    margin-bottom: 15px;
}

.deporight {
    display: flex;
    flex-direction: column;
    max-width: 35%;

}

#btnsaibamais3 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkjoana {
    text-decoration: none;
    color: black;
}

#btnsaibamais4 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
    margin-bottom: 20px;
}

#linkchristian {
    text-decoration: none;
    color: black;
}

/*
TESTEMUNHOS FIM
*/

/*
PREÇOS
*/

#contPreco {
    height: 600px;
}

#preco {
    display: flex;
    width: 460px;
    height: 460px;
    margin-left: 225px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#textoPreco {
    display: flex;
    float: right;
    flex-direction: column;
    max-width: 685px;
    margin-top: 225px;
    margin-right: 190px;
    gap: 24px;
    text-shadow: 5px 5px 5px rgb(201, 201, 201);
}

/*
PREÇOS FIM
*/

/*
IDOSAS
*/

#containderIdosas {
    height: 600px;
    background-color: #f5f5f5;
}

.img2 {
    display: flex;
    float: right;
    width: 416px;
    height: 439px;
    margin-top: 80px;
    margin-right: 365px;
}

#textoIdosas {
    display: flex;
    margin-top: 225px;
    margin-bottom: 225px;
    margin-left: 80px;
    width: 685px;
    height: 90px;
    float: left;
    flex-direction: column;
    text-shadow: 5px 5px 5px rgb(201, 201, 201);
}

/*
IDOSAS FIM
*/


/*
BOAS MÃOS
*/

#boas {
    text-align: center;
    height: 340px;
    padding-top: 270px;

    gap: 30px;
    text-shadow: 5px 5px 5px rgb(215, 215, 215);
}



/*
main fim
*/



/*
footer
*/
footer {
    height: 490px;
}


#borda2 {
    margin-left: 80px;
    margin-right: 110px;
}

.cinza {
    float: left;
    margin: auto auto auto auto;
    height: 70px;
    background-color: #f2f2f2;
    display: flex;
    width: 100%;
}

.imgFooter {
    height: 225px;
    width: 197px;
}

.btnsRight {
    display: flex;
    flex-direction: column;
    float: right;
    text-align: center;
    margin-left: 50px;
    margin-top: 120px;
    margin-bottom: 273px;
}

.rightCont {
    display: flex;
    flex-direction: column;
    float: right;
    text-align: left;
    margin-top: 120px;
    margin-bottom: 100px;
    text-decoration: none;
}

.btnLogin1 {
    padding: 11px 42px 11px 42px;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 6px;
}

.btnRegister1 {
    padding: 11px 23px 11px 23px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 6px;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    width: 1520px;
    margin-top: 75px;
}

.copi {
    display: flex;
    float: left;
    height: 14px;
    margin-top: 50px;
}

.redes {
    display: flex;
    float: right;
    width: 30px;
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 120px;
    gap: 30px;
}

.txtRedes {
    display: flex;
    float: right;
    height: 18px;
    margin-top: 55px;
    margin-right: 70px;
    margin-bottom: 130px;
}

#linkcontato {
    color: black;
}

#linksobrenos {
    color: black;
}

#linkhistoria {
    color: black;
}

/*
FOOTER FIM
*/





/*



PAGINA DE PLANOS



*/





/*icone dos planos */

.mayn {
    margin-top: 42px;
    margin-left: 43px;
    margin-right: 120px;
}


.planos {
    height: 79px;
    width: 458px;
    border-radius: 15px;
    border: 100%;
    background-color: #2F7321;
}

#plano1 {
    color: white;
    width: 389px;
    height: 26px;
    font-size: 18px;
    padding: 27px 46px 26px 23px;
}

#plano3 {
    color: white;
    width: 389px;
    height: 26px;
    font-size: 16px;
    padding: 27px 46px 26px 23px;
}

/*fim dos planos */



/*
 LOGIN PAGE
*/

#loginCont {
    margin: 200px 600px 200px 600px;
    width: 675px;
    border: 1px solid black;
    border-radius: 15px;
}

#loginHead {
    padding: 60px 0px 45px 120px;
    color: #3ca028;
    text-shadow: 3px 3px 3px rgb(215, 215, 215);
}

#loginForm {
    all: unset;
    margin: auto auto auto 150px;
    display: flex;
    flex-direction: column;
}

#email {
    margin-bottom: 40px;
}

.forms {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0.35px solid black;
    border-radius: 5px;
    width: 300px;
    height: 35px;
    padding-left: 15px;
}

#psdMiss {
    color: #3ca028;
    margin-left: 155px;
    margin-top: 8px;
    font-size: 66%;
}

#loginBtns {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-bottom: 70px;
}

#loginBtn {
    all: unset;
    background-color: #3ca028;
    padding: 10px 45px 10px 45px;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
    cursor: pointer;
}

#registerBtn {
    all: unset;
    background-color: white;
    padding: 10px 0 10px 0;
    border-radius: 5px;
    color: black;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
    margin-right: 225px;
    margin-left: 105px;
    border: 1px solid black;
    width: 130px;
    text-align: center;
    cursor: pointer;
}

/*
LOGIN PAGE FIM
*/


/*
REGISTER PAGE
*/

#registerTxt {
    text-align: center;
    padding: 120px 150px 80px 120px;
}

#signupCont {
    background-color: white;
    padding-bottom: 120px;
}

#grayBorder {
    padding: 17px 64px 60px 64px;
    background-color: #f2f2f2;
    min-width: 600px;
}

#signupCont2 {
    margin-left: 560px;
    margin-right: 560px;
    margin-bottom: 120px;
    border: 1px solid #a3a3a3;
    border-radius: 15px;
    padding-bottom: 64px;
    min-width: 610px;
    max-width: 670px;
}

#insideBorder {
    margin-left: 70px;
    margin-top: 65px;
}

#textSignup {
    color: #3ca028;
    margin-bottom: 20px;
}

#formInline {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#nome {
    width: 240px;
}

#sobrenome {
    width: 240px;
}

#registerButton {
    all: unset;
    background-color: #3ca028;
    padding: 10px 45px 10px 45px;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

#idade {
    -moz-appearance: textfield;
    appearance: textfield;
}

#altura {
    -moz-appearance: textfield;
    appearance: textfield;
}

#peso {
    -moz-appearance: textfield;
    appearance: textfield;
}

#sexo {
    all: unset;
    background-color: #999898;
    border-radius: 5px;
    color: white;
    padding: 6px 24px 6px 24px;
    margin-bottom: 20px;
}

#grayBorder2 {
    padding: 0px 64px 0px 64px;
    background-color: #f2f2f2;
}

#registerCont2 {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 120px 0px 120px 80px;
    gap: 160px
}

#registerButtonsbtn {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

#btnJunte {
    all: unset;
    background-color: black;
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
}

#btnContato {
    all: unset;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    color: #3ca028;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
    border: 1px solid black;
}


/* Testemunhas*/

#cont1Test {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
}

#textosTest {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 150%;
    margin-left: 265px;
    margin-right: 265px;
    margin-bottom: 75px;
}

#head1Test {
    padding-bottom: 30px;
}

#imgCont {
    display: flex;
    align-items: center;
    gap: 120px;
    justify-content: center;
    margin-bottom: 140px;
}

.imgTest {
    height: 75px;
    width: 170px;
    object-fit: cover;
    border-radius: 5px;
}


/* parte 1 fim */

.linha-f1 {
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
}


.coluna-lateral {
    flex: 1;
    max-width: 670px;
    margin-left: 50px;
    font-size: x-large;
}

.coluna-lateral2 {
    flex: 1;
    margin-left: 400px;
}

.img-format {
    width: 194px;
    height: 105px;
    margin: 25px 25px 25px 0;
    border-radius: 10px;
    object-fit: cover;
}

.carla-img {
    height: 256px;
}

.tabelaCarla {
    border: gray solid 1px;
    width: 256px;
    padding: 15px;
    border-radius: 25px;
    font-size: large;
}

/* parte 2 fim */

.Test-f3 {
    text-align: center;
    font-size: x-large;
    margin-top: 200px;
    margin-bottom: 100px
}

#text-f3 {
    color: gray;
    font-size: medium;
}

#img-compra {
    width: 75px;
    padding-top: 100px;
}

/* parte 3 fim */

#quartapaginatest {
    height: 738px;
    background-color: white;
}

#txt1 {
    width: 1230px;
    height: 53px;
    margin-top: 100px;
    margin-left: 420px;
    font-size: 38px;
}

#txt2 {
    margin-left: 154px;
    margin-top: 77px;
    width: 1571px;
    height: 100px;
    font-size: 30px;
    text-align: center;
}

.fotospag4cima {
    display: flex;
    flex-direction: row;
    width: 1061px;
    height: 80px;
    margin-left: 408px;
}

.fotospag4baixo {
    display: flex;
    flex-direction: row;
    width: 1061px;
    height: 80px;
    margin-left: 408px;
}

.fotocima {
    display: flex;
    width: 173px;
    height: 76px;
    border-radius: 5px;
    object-fit: cover;
    margin-top: 83px;
    padding-left: 70px;
    padding-right: 10px;
}

.fotobaixo {
    display: flex;
    width: 173px;
    height: 76px;
    border-radius: 9px;
    object-fit: cover;
    margin-top: 223px;
    padding-left: 70px;
    padding-right: 10px;
}

/* parte 4 fim */

#novaromapage {
    width: 100%;
    height: 464px;
    background-color: #f2f2f2;
    display: inline-block;
}

#textleft {
    display: inline-block;
    margin-top: 162px;
    margin-left: 83px;
    width: 816px;
    height: 50px;
}

#instanr {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 10px;
    margin-top: 302px;
    position: relative;
    top: -200px;
    left: 83px;
}

#txtnr {
    width: 224px;
    height: 30px;
    position: relative;
    top: -227px;
    left: 157px;
}

#fotonovaroma {
    display: flex;
    float: right;
    width: 240px;
    height: 240px;
    border-radius: 25px;
    position: relative;
    top: -450px;
    margin-right: 60px;
}

#instaetxtnr {
    background-color: #f2f2f2;
}

/*Suporte*/
#mainsuporte {
    display: flex;
    align-items: center;
    justify-content: center;
}

#outsupbox {
    margin-top: 200px
}

#textareasuporte {
    all: unset;
    display: flex;

    margin-bottom: 200px;
    width: 800px;
    height: 500px;
    display: flex;
    border: 3px solid #3ca028;
    border-radius: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#textareasuporte p {
    padding-top: 30px;
}

#txtts {
    all: unset;

    width: 600px;
    max-width: 600px;
    height: 300px;
    padding-top: 5px;
    padding-left: 5px;
    display: flex;
    border: 3px solid #000000;
}

#submsup {
    all: unset;
    background-color: #3ca028;
    padding: 10px 45px 10px 45px;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 5px rgb(215, 215, 215);
    cursor: pointer;
    float: right;
    position: relative;
    right: 0;



}

/* Tela de perfil*/

#bordaCinza {
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-left: 65px;
    padding-right: 65px;
}

#framePerfil {
    height: 960px;
    background-color: white;
}

#frameUser {
    all: unset;
    background-color: white;
    padding: 40px 45px 0 45px;
    margin: 40px 20px 50px 20px;
    box-shadow: 5px 5px 5px 5px rgb(215, 215, 215);
    height: 591px;
    width: 250px;
    display: inline-block;
    align-items: center;
}

#imgUsr {
    border-radius: 50%;
    width: 255px;
    height: 255px;
    text-align: center;
}

#nameAge {
    text-align: center;
    margin-top: 15px;
}

#textsProfile {
    padding-top: 15px;
}

.txtprof {
    padding-bottom: 2.5px;
}

#graficos {
    padding-top: 50px;
    box-shadow: 5px 5px 5px 5px rgb(215, 215, 215);
    margin-top: 40px;
    float: right;
    width: 1350px;
    margin-right: 35px
}

/*Pricing */

#framePricing {
    height: 960px;
    background-color: white;
}

.plan {
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: 105px;
    width: 385px;
}

#txtPlan {
    display: table-column;
}