*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/*
header
*/

.pre_login{
    background-color: #3ca028;
    height: 60px;
}

.h_img{
    all:unset;
    width: 145px;
    margin-top: -42px;
    margin-left: 88px;
}

.h_nav{
    float: right;
    margin: 21px 110px 21px 54px;
}

.btns{
    all: unset;
    padding-right: 54px;
    color: white;
}

.btn1{
    all: unset;
    padding-right: 54px;
    color: white;
    margin-right: 694px;
}

.btnLogin{
    padding: 11px 42px 11px 42px;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 6px;
}

.btnRegister{
    padding: 11px 42px 11px 42px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 6px;
}

/*
Header fim
*/


#Borda{
    margin-top: 165px;
    margin-left: 80px;
}

/*
Serviços
*/

.servicosList1{
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList1{
    color: white;
    text-align: center;
    padding-top: 38px;
    margin-top: 45px;
}

.servicosList2{
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 75px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList2{
    color: white;
    text-align: center;
    padding-top: 38px;
}

.servicosList3{
    height: 100px;
    width: 500px;
    background-color: #3ca028;
    border-radius: 15px;
    margin-bottom: 255px;
    box-shadow: 5px 5px 5px rgb(120, 120, 120);
}

#txtList3{
    color: white;
    text-align: center;
    padding-top: 38px;
}

#img1{
    display: flex;
    float: right;
    width: 360px;
    height: 450px;
    margin-top: 45px;
    margin-right: 365px;
}
/*
Serviços fim
*/


/*
testemunhas
*/


.espaçoleft {
    margin-bottom: 15px;
}

.depoimentosall {
    display: flex;
    flex-direction: row;
    gap: 300px
}

#depoleft {
    display: flex;
    flex-direction: column;
    max-width: 35%;
}


.btnsaibamais1 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkdaniel {
    text-decoration: none;
    color: black;
}

.btnsaibamais2 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkjorge {
    text-decoration: none;
    color: black;
}

/* Depoimentos Direita */
.espaçoright {
    margin-bottom: 15px;
}

.deporight {
    display: flex;
    flex-direction: column;
    max-width: 35%;

}

.btnsaibamais3 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
}

#linkjoana {
    text-decoration: none;
    color: black;
}

.btnsaibamais4 {
    display: flex;
    padding: 11px 33px 11px 33px;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    height: 20px;
    width: 90px;
    margin-bottom: 20px;
}

#linkchristian {
    text-decoration: none;
    color: black;
}

/*
TESTEMUNHOS FIM
*/

/*
PREÇOS
*/

#contPreco{
    height: 600px;
}

#preco{
    display: flex;
    width: 460px;
    height: 460px;
    margin-left: 225px;
    margin-top: 60px;
    margin-bottom: 80px;
}

#textoPreco{
    display: flex;
    float: right;
    flex-direction: column;
    max-width: 685px;
    margin-top: 225px;
    margin-right: 190px;
    gap: 24px;
}

/*
PREÇOS FIM
*/

/*
IDOSAS
*/

#containderIdosas{
    width: 1920px;
    height: 600px;
    background-color: #f5f5f5;
}

.img2{
    display: flex;
    float: right;
    width: 416px;
    height: 439px;
    margin-top: 80px;
    margin-right: 365px;
}

#textoIdosas{
    display: flex;
    margin-top: 225px;
    margin-bottom: 225px;
    margin-left: 80px;
    width: 685px;
    height: 90px;
    float: left;
    flex-direction: column;
}

/*
IDOSAS FIM
*/


/*
BOAS MÃOS
*/

#boas{
    text-align: center;
    height: 340px;
    padding-top: 270px;

    gap: 30px;
}



/*
main fim
*/



/*
footer
*/
footer{
    height: 490px;
}


#borda2{
    margin-left: 80px;
    margin-right:110px;
}

.cinza {
    float: left;
    margin: auto auto auto auto;
    height: 70px;
    background-color: #f2f2f2;
    display: flex;
    width: 1920px;
}

.imgFooter{
    height: 225px;
    width: 197px;
    ;
}

.btnsRight{
    display: flex;
    flex-direction: column;
    float:right;
    text-align: center;
    margin-left: 50px;
    margin-top: 120px;
    margin-bottom: 273px;
}

.rightCont{
    display: flex;
    flex-direction: column;
    float: right;
    text-align: left;
    margin-top: 120px;
    margin-bottom: 100px;
    text-decoration: none;
}

.btnLogin1{
    padding: 11px 42px 11px 42px;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-decoration: none;
    border-radius: 6px;
}

.btnRegister1{
    padding: 11px 23px 11px 23px;
    color: white;
    background-color: black;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 6px;
}

.border {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    border: 1px solid rgb(0, 0, 0);
    width: 1520px;
    margin-top: 75px;
}

.copi {
    display: flex;
    float: left;
    height: 14px;
    margin-top: 50px;
}

.redes {
    display: flex;
    float: right;
    width: 30px;
    margin-top: 50px;
    margin-right: 240px;
    margin-bottom: 120px;
    gap: 30px;
}

.txtRedes {
    display: flex;
    float: right;
    height: 18px;
    margin-top: 55px;
    margin-right: 70px;
    margin-bottom: 130px;
}

/*
FOOTER FIM
*/





/*



PAGINA DE PLANOS



*/





/*icone dos planos */

.mayn {
    margin-top: 42px;
    margin-left: 43px;
    margin-right: 120px;
    }
    
    
    .planos {
    height: 79px;
    width: 458px;
    border-radius: 15px;
    border: 100%;
    background-color: #2F7321;
    }
    
    #plano1 {
    color: white;
    width: 389px;
    height: 26px;
    font-size: 18px;
    padding: 27px 46px 26px 23px;
    }
    
    #plano3 {
        color: white;
        width: 389px;
        height: 26px;
        font-size: 16px;
        padding: 27px 46px 26px 23px;
        }
        /*fim dos planos */